*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: red;
}

.nav-list {
  background: green;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  background: #333;
}
